<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-outline mb-3">
    <%= form.text_field :name, autofocus: true, placeholder: "Name", class:"form-control form-control-lg" %>                                      
  </div>
  <div class="form-outline mb-3">
    <%= form.email_field :email, autofocus: true, placeholder: "Email", class:"form-control form-control-lg" %>                                      
  </div>
  <div class="form-outline mb-3">    
    <%= form.label :DOB, "Date of birth", class:"fw-bold " %>
    <%= form.date_field :DOB, autofocus: true, class:"form-control form-control-lg" %>                                      
  </div>
  <div class="form-outline mb-3">
    <%= collection_select(:user, :role_id, Role.all, :id, :name, { prompt: "--Select a role--" }, class:"form-select form-select-lg") %>                                     
  </div>
  <div class="form-outline mb-3">
    <%= form.password_field :password, placeholder: "Password", class:"form-control form-control-lg" %>                    
  </div>
  <%= form.submit "Submit", class:"btn btn-primary btn-lg btn-rounded text-white px-5" %>                  
 <% end %>
