<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.datetime_field :end_at %>
  </div>

  <div class="field">
    <%= form.label :doctor %>
    <%= collection_select(:appointment, :doctor_user_id, User.where("role_id = ?", 1), :id, :name, { prompt: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>