<p>
  <strong>Subject:</strong>
  <%= @appointment.subject %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @appointment.start_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @appointment.end_at %>
</p>
<% if current_user.patient? %>
  <p>
    <strong>Doctor:</strong>
    <%= @appointment.doctor_user.name %>
  </p>
<%end%>

<% if current_user.doctor? %>
  <p>
    <strong>Patient:</strong>
    <%= @appointment.patient_user.name %>
  </p>
  <p><strong>DOB:</strong><%= @appointment.patient_user.DOB %></p>
<%end%>

<% @appointment.user_image.each do |user_image| %>
  <%= image_tag user_image.url%>
<% end %>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
